<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IContentCrawlService" />
          <binding name="BasicHttpBinding_IUserInfoService" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost:6525/ContentCrawl" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IContentCrawlService"
            contract="IContentCrawlService" name="BasicHttpBinding_IContentCrawlService" />
        <endpoint address="http://localhost:6526/UserInfoService" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IUserInfoService" contract="IUserInfoService"
            name="BasicHttpBinding_IUserInfoService" />
      </client>
    </system.serviceModel>
</configuration>
